<html>

<head>

<link rel="icon" href="__PUBLIC__/share.ico" type="image/x-icon" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--这是必须的文件引入-->
  <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="https://teamemo.com/static/bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://teamemo.com/static/styles/landingpage-cf092c3767.css">
  <script src="__PUBLIC__/js/jquery-1.11.1.min.js"></script>
  <script src="__PUBLIC__/js/bootstrap.min.js"></script>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
  <!--这是必须的文件引入-->
  <!--自定义的css-->
  <link href="__PUBLIC__/css/good.css" rel="stylesheet">
  <link href="__PUBLIC__/css/someone.css" rel="stylesheet">
  <!--自定义的css-->
  <title>分享</title>
  <script type="text/javascript">
      $(function(){
          $(".nav").children("li").each(function(){
              $(this).removeClass("active");
          })
          $(".share").addClass("active");
      })
  </script>
</head>

<body>
<div class=".container-fluid ">
  {include file="/common/nav"}
  <div style="clear:both;height:70px;"></div>
  <div class="center">
    <h1>Share</h1>
    <p class="lead">You can see all the sharing here.</p>
  </div>
  <div>

    <div class="container gray-background piece-division" style="position:relative;">
      <div class="row feature-row">
        <div class="col-md-6 image">
          <img class="outdent-shadow image-responsive playing" src="__PUBLIC__/images/bg_note_coffee.jpg" width="600" height="300"></div>
        <div class="col-md-6 text good-text">
          <h2><a href="{:url('index/detail/index')}" class="un">The author's name is written here</a></h2>
          <h3>The title of the article is written here</h3>
          <div>

            <p>Write a profile of the sharing here or what the author wants to say to users.Of course we can write
              something that doesn't really matter in order to make it look better.</p>
          </div>

        </div>
        <div class="like-postion-one">
          <span class="glyphicon glyphicon-eye-open" aria-hidden="true"> 100 &nbsp; </span>
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"> 20</span>
        </div>

      </div>
    </div>

    <div class="container gray-background piece-division" style="position:relative;">
      <div class="container">
        <div class="row feature-row">
          <div class="col-md-6 col-md-push-6 image"><img class="outdent-shadow image-responsive stopped" src="https://teamemo.com/static/animations/type.gif"
                                                         width="600" height="300"></div>
          <div class="col-md-6 col-md-pull-6 text">
            <h2>分享一本好好看的书</h2>
            <h3>你会发现英文显示会更加好看</h3>
            <div>
              <p>Write in parallel on one document.</p>
              <p>The written text will be synced in real time with your team members. Ideal for creative processes
                like
                meetings, brainstorming or project planning.</p>
              <p>Working together was never so easy and creative.</p>
            </div>

          </div>

        </div>
        <div class="like-postion-two">

          <span class="glyphicon glyphicon-eye-open" aria-hidden="true"> 100 &nbsp; </span>
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"> 20</span>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>作者：啦啦啦</span>
        </div>
      </div>
    </div>
    <div class="container gray-background piece-division" style="position:relative;">
      <div class="row feature-row">
        <div class="col-md-6 image">
          <img class="outdent-shadow image-responsive playing" src="__PUBLIC__/images/bg_note_coffee.jpg" width="600" height="300"></div>
        <div class="col-md-6 text good-text">
          <h2><a href="{:url('index/detail/index')}" class="un">The author's name is written here</a></h2>
          <h3>The title of the article is written here</h3>
          <div>

            <p>Write a profile of the sharing here or what the author wants to say to users.Of course we can write
              something that doesn't really matter in order to make it look better.</p>
          </div>

        </div>
        <div class="like-postion-one">
          <span class="glyphicon glyphicon-eye-open" aria-hidden="true"> 100 &nbsp; </span>
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"> 20</span>
        </div>

      </div>
    </div>

    <div class="container gray-background piece-division" style="position:relative;">
      <div class="container">
        <div class="row feature-row">
          <div class="col-md-6 col-md-push-6 image"><img class="outdent-shadow image-responsive stopped" src="https://teamemo.com/static/animations/type.gif"
                                                         width="600" height="300"></div>
          <div class="col-md-6 col-md-pull-6 text">
            <h2>好书推荐</h2>
            <h3>你会发现英文会更加好看</h3>
            <div>
              <p>Write in parallel on one document.</p>
              <p>The written text will be synced in real time with your team members. Ideal for creative processes
                like
                meetings, brainstorming or project planning.</p>
              <p>Working together was never so easy and creative.</p>
            </div>

          </div>

        </div>
        <div class="like-postion-two">

          <span class="glyphicon glyphicon-eye-open" aria-hidden="true"> 100 &nbsp; </span>
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"> 20</span>
        </div>
      </div>
    </div>
    <div class="container gray-background piece-division" style="position:relative;">
      <div class="row feature-row">
        <div class="col-md-6 image">
          <img class="outdent-shadow image-responsive playing" src="__PUBLIC__/images/bg_note_coffee.jpg" width="600" height="300"></div>
        <div class="col-md-6 text good-text">
          <h2><a href="{:url('index/detail/index')}" class="un">The author's name is written here</a></h2>
          <h3>The title of the article is written here</h3>
          <div>

            <p>Write a profile of the sharing here or what the author wants to say to users.Of course we can write
              something that doesn't really matter in order to make it look better.</p>
          </div>

        </div>
        <div class="like-postion-one">
          <span class="glyphicon glyphicon-eye-open" aria-hidden="true"> 100 &nbsp; </span>
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"> 20</span>
        </div>

      </div>
    </div>

  </div>
  {include file="/common/footer"}
</div>
</body>

</html>