<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>这是一篇很好的文章</title>
    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">

<link rel="icon" href="__PUBLIC__/share.ico" type="image/x-icon" />



    <script src="__PUBLIC__/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="https://teamemo.com/static/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://teamemo.com/static/styles/landingpage-cf092c3767.css">
    <script src="__PUBLIC__/js/jquery-1.11.1.min.js"></script>

    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">

    <link href="__PUBLIC__/css/good.css" rel="stylesheet">
    <link href="__PUBLIC__/css/someone.css" rel="stylesheet">
    <style>
      
    </style>
</head>

<body>
    <div>
        {include file="/common/nav"}
        <div id="main-layout" class="layout no-sidebar">
            <div id="wrapper">

                <div class="A1">
                    <div id="A1-1"></div>
                    <div id="A1-2"></div>
                    <div id="trame"></div>
                </div>
                <div class="A2" style="opacity: 1;">
                    <div id="text-2">Post an image with animation</div>
                    <div id="wrapper-A2-date-1">
                        <div id="A2-date-1">28 oct ,2018</div>
                        <div id="A2-icone-1"></div>
                    </div>

                </div>
                <div class="A3">
                    <div class="A3-top">
                        <div class="A3-image">
                            <img src="__PUBLIC__/images/image1-01.jpg" alt="post an image with animation" title="post an image with animation">
                        </div>

                    </div>
                    <div class="A3-top-2">
                        <div id="A3-text-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                            sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                    </div>
                </div>
                <div id="A4" class="object">

                    <div id="wrapper-A4" class="text-part-A5">

                        <div id="line1-A4"></div>
                        <div id="line2-A4"></div>

                        <ul>
                            <li>
                                <div id="A4-nextpage-1">
                                    <a href="#">«&nbsp;&nbsp;Previous page</a>
                                </div>
                            </li>
                            <li>
                                <div id="A4-nextpage-2">
                                    <a href="#">Next page&nbsp;&nbsp;»</a>
                                </div>
                            </li>
                        </ul>

                    </div>

                </div>
            </div>
        </div>
        {include file="/common/footer"}
    </div>
</body>

</html>