<div class="navbar navbar-default navbar-fixed-top headerTopBack">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand navbar-link" href="{:url('index/index/index')}">Recently</a>
            <button class="navbar-toggle" data-toggle="collapse" data-target="#navcol-1" aria-expanded="true">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse in" id="navcol-1" aria-expanded="true" style>
            <ul class="nav navbar-nav navbar-right">
                <li role="presentation " class="active home">
                    <a href="{:url('index/index/index')}" aria-controls="home" role="tab">主页</a>
                </li>
                <li role="presentation " class="my">
                    <a href="{:url('index/publish/index')}" aria-controls="home" role="tab">我的</a>
                </li>
                <li role="presentation " class="share">
                    <a href="{:url('index/share/index')}" aria-controls="home" role="tab">分享</a>
                </li>
                <li role="presentation" class="dropdown  login">
                    <a href="{:url('index/login/index')}" class="dropdown-toggle" aria-controls="home" role="tab" data-toggle="tab dropdown">登录</a>
                    <ul class="dropdown-menu submenu">
                        <li>
                            <a href="{:url('index/login/index')}">注册</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>